Diagnostics:
  UnusedIncludes: Strict
  MissingIncludes: Strict
  Includes:
    IgnoreHeader: 
      # Внутренние заголовки GCC
      - '.*/include/c\+\+/[^/]*/.*/.*'
      # Внутренние заголовки библиотек
      - '.*/impl/.*'
